*{
  text-decoration: none;
    font-family:'Source Code Pro:900', monospace;

}

.App {
  text-align: center;
}

  a:link, a:visited, a:hover, a:active { color:white;
       text-decoration: none;
     }


.App-header {
  background-color: rgb(134, 135, 143);
  height: 100pc;
  display: block;
  float: left;
  font-size: 25px;
  color: white;
  text-align: start;
}

.Nav.Link {
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  height: 100%;
  position: fixed; 
  overflow: auto;
  color: #fb3f00; 
}

.App-link {
  color: #61dafb;
}

a:-webkit-any-link {
  text-decoration: none;
}
