*{
  text-decoration: none;
    font-family:'Source Code Pro:900', monospace;

}

 .App {
  text-align: center;
} 

h1 {
  margin-top: 0px;
  display:contents;
  font-size: 55px;
  flex-direction: row;
}

a:link, a:visited, a:hover, a:active { 
  color:black;
  text-decoration: none;
  font-size: 20px;
}


a:-webkit-any-link {
  text-decoration: none;
}


html { 
  background: url(images/cut-bread.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}