.App {
  text-align: center;
  background-image: url("./images/cut-bread.jpg");
}


.App-header {
  background-color: rgb(131, 156, 207);
  height: 100pc;
  display: block;
  float: left;
  font-size: 20px;
  color: white;
  width: 110px;
}

.Nav.Link {
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  height: 100%;
  position: fixed; 
  overflow: auto; 
}

.App-link {
  color: #61dafb;
}

a:-webkit-any-link {
  text-decoration: none;
}
